<!DOCTYPE html>
<html>
<head>
    <title>Welcome to Simple Web App - Create</title>
</head>
<body>
    <h1>Welcome to Simple Web App - Create</h1>
    <p>This is the create page content.</p>
</body>
</html>
